
<%
--[[

]]--
local ver  = require "luci.version"
local adv_menu = luci.util.get_adv_menu()
local request_uri = luci.http.getenv("REQUEST_URI")
local formaction=luci.http.formvalue("submit")
local reminding=""


local ss_server_name=luci.sys.exec("uci get ss-redir.ssgoabroad.ss_server_name | tr -d '\\n'")
local ss_mode=luci.sys.exec("uci get ss-redir.ssgoabroad.mode | tr -d '\\n'")
local ss_server_des=luci.sys.exec("uci get ss-redir.`uci get ss-redir.ssgoabroad.ss_server_name`.ss_server_des | tr -d '\\n'")
local ss_server_ip=luci.sys.exec("uci get ss-redir.`uci get ss-redir.ssgoabroad.ss_server_name`.ss_server_ip | tr -d '\\n'")
local ss_server_port=luci.sys.exec("uci get ss-redir.`uci get ss-redir.ssgoabroad.ss_server_name`.ss_server_port | tr -d '\\n'")
local ss_password=luci.sys.exec("uci get ss-redir.`uci get ss-redir.ssgoabroad.ss_server_name`.ss_password | tr -d '\\n'")
local ss_method=luci.sys.exec("uci get ss-redir.`uci get ss-redir.ssgoabroad.ss_server_name`.ss_method | tr -d '\\n'")
local antixxx_dns_server_ip=luci.sys.exec("uci get ss-redir.ssgoabroad.antixxx_dns_server_ip | tr -d '\\n'")
local SSstatus=luci.sys.exec('if [ "`ps | grep /usr/bin/ss-redir | grep -c -v grep`" == "1" ]; then echo -n "runing";  else echo -n "stop"; fi;')
local ss_server_des1=luci.sys.exec("uci get ss-redir.1.ss_server_des | tr -d '\\n'")
local ss_server_des2=luci.sys.exec("uci get ss-redir.2.ss_server_des | tr -d '\\n'")
local ss_server_des3=luci.sys.exec("uci get ss-redir.3.ss_server_des | tr -d '\\n'")
local ss_server_des4=luci.sys.exec("uci get ss-redir.4.ss_server_des | tr -d '\\n'")
local ss_server_des5=luci.sys.exec("uci get ss-redir.5.ss_server_des | tr -d '\\n'")

local ss_server_des6=luci.sys.exec("uci get ss-redir.6.ss_server_des | tr -d '\\n'")
local ss_server_des7=luci.sys.exec("uci get ss-redir.7.ss_server_des | tr -d '\\n'")
local ss_server_des8=luci.sys.exec("uci get ss-redir.8.ss_server_des | tr -d '\\n'")
local ss_server_des9=luci.sys.exec("uci get ss-redir.9.ss_server_des | tr -d '\\n'")
local ss_server_des10=luci.sys.exec("uci get ss-redir.10.ss_server_des | tr -d '\\n'")
local antixxx_domain_list=luci.sys.exec("cat /etc/SSdiyDNS.conf")
local ss_enable=luci.sys.exec("if [ -L /etc/rc.d/S99ss-redir ]; then echo -n 1;else echo -n 0;fi")
local sstestresult=luci.sys.exec("cat /tmp/sstest.result")
%>
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="format-detection" content="telephone=no" />
<title>HiWiFi 路由器</title>
<link rel="stylesheet" href="<%=resource%>/web/css/style.css?v=<%=ver.svnRevNum%>" type="text/css"/>
<script type="text/javascript" src="<%=resource%>/web/js/jquery-1.8.1.min.js?v=<%=ver.svnRevNum%>"></script>
<script type="text/javascript" src="<%=resource%>/web/js/artDialog/jquery.artDialog.js?skin=blueskin"></script>
<script src="<%=resource%>/web/js/artDialog/plugins/iframeTools.source.js?v=<%=ver.svnRevNum%>"></script>
</head>

<style type="text/css">
table.zone td.tor{
text-align: right;
width:120px;
line-height:14px;
}
#con_stauts{
width:300px;
}
.error-box {
text-align: center;
color: #d84613;
font-size: 14px;
}
.sstestresult-table{ border-top: 1px solid #eee;border-collapse:collapse;margin:10px auto;}
.sstestresult-table th, .sstestresult-table td{ border-bottom: 1px solid #eee;border-left: 1px solid #eee;border-right: 1px solid #eee; text-align: left; padding: 8px; font-size: 12px; color: #666;}
.sstestresult-table th{ font-weight: 700; color: #333; background: #f9f9f9;}
</style>
<body>
<div class="title">
<h2>高级设置<i>设置路由器安全 , 及其他高级设置</i></h2>
</div>
<div class="menu">
	<% include("admin_web/menu/adv_menu") %>
</div>

<div class="box setup_box">
    <form id="form1" action="shadowsocks_save" method="post" name="shadowsocks" > 
	<ul class="ullist" style="position:relative">
            <li class="error-box">
                <div class="info">
                    <p text-align:center> </p>
                    <p text-align:center> </p>
                    
                </div>
            </li>
		<li class="error-box">
                <div class="info">
                    <%=sstestresult%>
                </div>
            </li>
	<li class="ipt_from">
    	    <div  class="memu row" id="cfg_box">
            	<p class="item-txt"><span class="on-off" style="font-size:14px;">开机自启动<button type="button" class="<% if ss_enable=="1" then io.write("on"); else io.write("off") end %>" style="margin-left:20px;">开关</button></span></p>        <input type="hidden" value="<% if ss_enable=="1" then io.write("enable"); else io.write("disable") end %>" name="enable"/>
		<p><label>服务器名称</label>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<span><input type="hidden" name="ss_server_name" id="" class="txt" value="<%=ss_server_name%>"/><label><%=ss_server_name%></label></span></p>
        	<p><label>服务器别名</label><input type="text" name="ss_server_des" id="" class="txt" value="<%=ss_server_des%>"/></p>
		<p><label>服务器地址</label><input type="text" name="ss_server_ip" id="" class="txt" value="<%=ss_server_ip%>"/></p>
        	<p><label>端口</label><input type="text" name="ss_server_port" id="" class="txt" value="<%=ss_server_port%>"/></p>
        	<p><label>密码</label><input type="password" name="ss_password" id="password" class="txt" value="<%=ss_password%>"/> <input type="checkbox" id="show_passwd" value="true" class="checkbox" />        <label for="show_passwd"><%:显示%></label></p>
		<p><label class="label">加密方式</label>
        	<span>
            	    <select name="ss_method" class="txt-input select txt" style="width:158px;">
		    <option value="aes-256-cfb" <% if ss_method=="aes-256-cfb" then io.write("selected=selected"); end %>>aes-256-cfb</option>
                    <option value="aes-192-cfb" <% if ss_method=="aes-192-cfb" then io.write("selected=selected"); end %>>aes-192-cfb</option>
                    <option value="aes-128-cfb" <% if ss_method=="aes-128-cfb" then io.write("selected=selected"); end %>>aes-128-cfb</option>
                    <option value="table" <% if ss_method=="table" then io.write("selected=selected"); end %>>table</option>
                    <option value="rc4" <% if ss_method=="rc4" then io.write("selected=selected"); end %>>rc4</option>
                    <option value="rc4-md5" <% if ss_method=="rc4-md5" then io.write("selected=selected"); end %>>rc4-md5</option>
                    <option value="bf-cfb" <% if ss_method=="bf-cfb" then io.write("selected=selected"); end %>>bf-cfb</option>
                    <option value="camellia-128-cfb" <% if ss_method=="camellia-128-cfb" then io.write("selected=selected"); end %>>camellia-128-cfb</option>
                    <option value="camellia-192-cfb" <% if ss_method=="camellia-192-cfb" then io.write("selected=selected"); end %>>camellia-192-cfb</option>
                    <option value="camellia-256-cfb" <% if ss_method=="camellia-256-cfb" then io.write("selected=selected"); end %>>camellia-256-cfb</option>
                    <option value="cast5-cfb" <% if ss_method=="cast5-cfb" then io.write("selected=selected"); end %>>cast5-cfb</option>
                    <option value="des-cfb" <% if ss_method=="des-cfb" then io.write("selected=selected"); end %>>des-cfb</option>
                    <option value="idea-cfb" <% if ss_method=="idea-cfb" then io.write("selected=selected"); end %>>idea-cfb</option>
                    <option value="rc2-cfb" <% if ss_method=="rc2-cfb" then io.write("selected=selected"); end %>>rc2-cfb</option>
                    <option value="seed-cfb" <% if ss_method=="seed-cfb" then io.write("selected=selected"); end %>>seed-cfb</option>
            	    <option value="salsa20" <% if ss_method=="salsa20" then io.write("selected=selected"); end %>>salsa20</option>
                    <option value="chacha20" <% if ss_method=="chacha20" then io.write("selected=selected"); end %>>chacha20</option>
	
		    </select>
       		</span></p> 
        	<p><label class="label">模式</label>
        	<span>
		    <select name="ss_mode" class="txt-input select txt" style="width:158px;">
                    <option value="part" <% if ss_mode=="part" then io.write("selected=selected"); end %>>智能模式</option>
                    <option value="whole" <% if ss_mode=="whole" then io.write("selected=selected"); end %>>全局模式</option>
		    <option value="game" <% if ss_mode=="game" then io.write("selected=selected"); end %>>游戏模式</option>
                    <option value="china" <% if ss_mode=="china" then io.write("selected=selected"); end %>>回国模式</option>
                    </select>
        	</span></p> 

        	<p><label class="label">加速DNS</label>
        	<span>
            	    <select name="antixxx_dns_server_ip" class="txt-input select txt" style="width:158px;">
                    <option value="8.8.4.4" <% if antixxx_dns_server_ip=="8.8.4.4" then io.write("selected=selected"); end %>>谷歌</option>
                    <option value="60.32.112.42" <% if antixxx_dns_server_ip=="60.32.112.42" then io.write("selected=selected"); end %>>日本</option>
                    <option value="168.95.1.1" <% if antixxx_dns_server_ip=="168.95.1.1" then io.write("selected=selected"); end %>>台湾</option>
                    <option value="218.102.23.228" <% if antixxx_dns_server_ip=="218.102.23.228" then io.write("selected=selected"); end %>>香港</option>
                    <option value="168.126.63.1" <% if antixxx_dns_server_ip=="168.126.63.1" then io.write("selected=selected"); end %>>韩国</option>
                    <option value="208.67.222.222" <% if antixxx_dns_server_ip=="208.67.222.222" then io.write("selected=selected"); end %>>openDns</option>
		    <option value="128.199.248.105" <% if antixxx_dns_server_ip=="128.199.248.105" then io.write("selected=selected"); end %>>新加坡</option>
		    <option value="212.50.131.153" <% if antixxx_dns_server_ip=="212.50.131.153" then io.write("selected=selected"); end %>>芬兰</option>	
            	    </select>
        	</span></p> 

        	<p><label>状态:</label>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<span id="con_stauts"><label><%if SSstatus=="runing" then print("运行中")%>&nbsp&nbsp&nbsp<input type="submit" name="submit" value="停止" class="btn" /><%; else print("停止")%>&nbsp&nbsp&nbsp<input type="submit" name="submit" value="启动" class="btn" /><%;end;%></label></span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</p>
    	    </div>
	</li>
    	<li>
    	</li>
    	<li  class="ipt_from">
    	    <div class="btnbox" id="shadowsocks_btn_box">
 		<input type="submit" name="submit" value="<%:保存%>" class="btn" />
		<input type="submit" name="submit" value="<%:保存并启动%>" class="btn" />
		<img style="display:none;" id="loading2" src="<%=resource%>/web/js/artDialog/skins/icons/loading.gif" alt="HiWiFi 路由器" />
	<BR><BR>
	
    	    </div>
    	</li>
    </form>
    <li class="error-box">
          <div class="info">
            <p><label><B>高级配置-切换服务器(不懂勿动)</B></label></p>
		    <p><label><B>增加：</b>点击“切换”按钮，停止当前服务，可在上面增加服务器，然后"保存并启动"</label></p>
            <p><label><B>切换：</b>选择目标服务器后，点击“切换并启动”按钮，可启动新服务</label></p>
           </div>
    </li>
    <form id="form2" action="shadowsocks_save" method="post" name="shadowsocks" >
    <li>
    <div  class="memu row" id="cfg_box">	
	<p><label class="label">服务器</label>
        <span>
            <select name="ss_server_name" class="txt-input select txt" style="width:158px;">
                <option value="1" <% if ss_server_name=="1" then io.write("selected=selected"); end %>>1(<%=ss_server_des1%>)</option>
                <option value="2" <% if ss_server_name=="2" then io.write("selected=selected"); end %>>2(<%=ss_server_des2%>)</option>
                <option value="3" <% if ss_server_name=="3" then io.write("selected=selected"); end %>>3(<%=ss_server_des3%>)</option>
                <option value="4" <% if ss_server_name=="4" then io.write("selected=selected"); end %>>4(<%=ss_server_des4%>)</option>
		       <option value="5" <% if ss_server_name=="5" then io.write("selected=selected"); end %>>5(<%=ss_server_des5%>)</option>
               <option value="6" <% if ss_server_name=="6" then io.write("selected=selected"); end %>>6(<%=ss_server_des6%>)</option>  
	           <option value="7" <% if ss_server_name=="7" then io.write("selected=selected"); end %>>7(<%=ss_server_des7%>)</option>
	           <option value="8" <% if ss_server_name=="8" then io.write("selected=selected"); end %>>8(<%=ss_server_des8%>)</option>
		       <option value="9" <% if ss_server_name=="9" then io.write("selected=selected"); end %>>9(<%=ss_server_des9%>)</option>
               <option value="10" <% if ss_server_name=="10" then io.write("selected=selected"); end %>>10(<%=ss_server_des10%>)</option>
	        </select>
        </span>
        </p>
    </div>
    </li>
    <li  class="ipt_from">
    <div class="btnbox" id="shadowsocks_btn_box">
	<input type="submit" name="submit" value="切换" class="btn" /> <input type="submit" name="submit" value="切换并启动" class="btn" />
    </div>
    </li>
    </form>
    <BR><BR>
    <li class="error-box">
          <div class="info">
                    <p><label><B>高级配置-防污染域名(不懂勿动)</B></label></p>
		    <p><label>以下域名将由加速DNS解析，每行填写一个域名</label></p>
           </div>
    </li>
    <form id="form2" action="shadowsocks_save" method="post" name="shadowsocks" >
    <li>
    <div  class="memu row" id="cfg_box">
        <span>
         	<textarea style="height:200px;width:280px;line-height:16px;" name="antixxx_domain_list" class="txt"><%=antixxx_domain_list%></textarea>
	</span>
    </div>
    </li>
    <li  class="ipt_from">
    	<div class="btnbox" id="shadowsocks_btn_box">
    	     <input type="submit" name="submit" value="保存防污染域名列表" class="btn" />
    	</div>
    </li>

    </form>

	</ul>
</div>
<script type="text/javascript">
var t;
$(function(){
       var request_date = {};
      $(".on-off").click(function(){
				$("#loading2").show();
        var switch_b = $(this).children("button");
        var status_now = switch_b.attr("class");
        if(status_now == "on"){
            $("input[name='enable']").val("disable");
            switch_b.addClass("off");
            switch_b.removeClass("on");
        } else {
            $("input[name='enable']").val("enable");
            switch_b.addClass("on");
            switch_b.removeClass("off");
        }
        $("#loading2").hide();
    })


	$("#show_passwd").click(function(){
            if ($(this).attr('checked')) {
                $('#password').clone().attr('type','text').insertAfter('#password').prev().remove();
            } else {
                $('#password').clone().attr('type','password').insertAfter('#password').prev().remove();
            }
     })
	
});
</script>
</body>
</html>
