@charset "utf-8";
/* CSS Document */
.hei110{ height:55px;background-size:auto 55px;}
	.hei110 h1{height:32px; background-size:auto 32px; margin-left:10px;margin-top:20px;}
	.hei110 a{ display:block;width:95px;height:25px; background-size:auto 25px;top:28%; right:2%;}
	
	.jieshao{height:55px; background-size:auto 55px;margin:30px auto auto 15px;}
	
	.downbox{max-width:640px;height:140px;background-size:auto 140px;}
	.laycon{height:120px;background-size:auto 120px;}
	.laycon .chanp{width:200px;height:140px; background-size:auto 200px; margin-left:10px;}
	.laycon .chtit{height:14px;background-size:auto 14px;left:28%;}
	.laycon .down1{height:25px;background-size:auto 25px;left:28%;top:50px;}
	.laycon .down2{height:25px;background-size:auto 25px;left:28%;top:90px;}
	
	.laycon .down1 a,.laycon .down2 a{height:25px;display:block; width:100px;}
