/* CSS Document */
*{margin:0;padding:0;}
body {
	margin:0;
	background:#ededed;
	font-size:14px;
}
body img{border:none; max-width:100%;}
a{ text-decoration:none;}
#layout{ max-width:640px; margin:0 auto; overflow:hidden;}

.hei110{ height:75px;background:#ededed;position:relative;}
.hei110 h1{ width:241px; height:75px; background:url(../images/logo2.png) no-repeat; position:absolute; top:0%; left:3%;}
/*.hei110 a{display:block;width:130px; height:36px;background:url(shoping.png) no-repeat;position:absolute; top:35px; right:20px;}*/

.downbox{width:100%;height:520px;}
.laycon{width:640px;height:520px;background:#ededed; position:relative;}
	.laycon .chanp{width:640px; height:500px; background:url(../images/shouji.png) no-repeat;}
	.laycon .chtit{width:120px;height:30px;background:url(../images/down.png) no-repeat;position:absolute; z-index:10; left:370px;top:20px; }
	
	.laycon .down2{width:270px;height:59px;background:url(../images/iphone.png) no-repeat;position:absolute; z-index:10; left:360px;top:180px; }
	
.jieshao{ width:506px;height:160px; background:url(../images/text.png) no-repeat; margin:0px auto auto -8px;}
.down1{width:204px;height:60px;background:url(../images/android.png) no-repeat; margin-bottom:50px;}
.down1 a,.down2 a{ display:block;height:58px; width:234px;}

/*@media(max-width: 640px) {
	.hei110{ height:55px;background-size:auto 55px;}
	.hei110 h1{height:32px; background-size:auto 32px;}
	.hei110 a{width:95px;height:25px; background-size:auto 25px;top:28%; right:2%;}
	
	.jieshao{height:120px; background-size:auto 120px;margin:25px auto auto 150px;}
	
	.downbox{width:100%;height:140px;background-size:auto 140px;}
	.laycon{height:140px;background-size:auto 140px;}
	.laycon .chanp{width:150px;height:200px; background-size:auto 200px;}
	.laycon .chtit{height:18px;background-size:auto 18px;left:30%;}
	.laycon .down1{height:30px;background-size:auto 30px;left:30%;top:50px;}
	.laycon .down2{height:30px;background-size:auto 30px;left:30%;top:90px;}
}

@media(min-width: 720px) {
	.hei110{ height:55px;background-size:auto 55px;}
	.hei110 h1{height:32px; background-size:auto 32px;}
	.hei110 a{width:95px;height:25px; background-size:auto 25px;top:28%; right:2%;}
	
	.jieshao{height:150px; background-size:auto 150px;margin:45px auto auto 150px;}
	
	.downbox{width:100%;height:220px;background-size:auto 220px;}
	.laycon{height:220px;background-size:auto 220px;}
	.laycon .chanp{width:200px;height:280px; background-size:auto 280px;}
	.laycon .chtit{height:24px;background-size:auto 24px;left:32%;}
	.laycon .down1{height:35px;background-size:auto 35px;left:32%;top:75px;}
	.laycon .down2{height:35px;background-size:auto 35px;left:32%;top:130px;}
}
*/






























